<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignments</title>
    <link rel="stylesheet" href="siameseFightingFish.css">
    <link rel="icon" type="image/png" href="https://us.123rf.com/450wm/pansasunavee/pansasunavee1510/pansasunavee151000008/46103704-stock-vector-freehand-sketch-illustration-of-betta-splendens-siamese-fighting-fish-doodle-hand-drawn.jpg?ver=6">
  </head>
  <body>
    <h1>Assignments</h1>
    <a href="./prove03.html">PHP shopping cart</a> <br>
    <a href="./addressBook.php">Address Book</a> <br>
  </body>
</html>
