<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MY ONLINE SHOPPE</title>
    <link rel="stylesheet" href="shoppingCart.css">
  </head>
  <body>
    <h1>My online shop</h1>

<form class="" action="shoppingCart.php" method="post">
    <h2>Item 1</h2>
    <label for="numberOfItemOne">Quantity:</label>
    <input type="number" name="numberOfItemOne" value="0" min="0" style="width: 25px;">
    <input type="submit" name="addItemOne" value="Add to cart">

    <h2>Item 2</h2>
    <label for="numberOfItemTwo">Quantity:</label>
    <input type="number" name="numberOfItemTwo" value="0" min="0" style="width: 25px;">
    <input type="submit" name="addItemTwo" value="Add to cart">

    <h2>Item 3</h2>
    <label for="numberOfItemThree">Quantity:</label>
    <input type="number" name="numberOfItemThree" value="0" min="0" style="width: 25px;">
    <input type="submit" name="addItemThree" value="Add to cart">

    <h2>Item 4</h2>
    <label for="numberOfItemFour">Quantity:</label>
    <input type="number" name="numberOfItemFour" value="0" min="0" style="width: 25px;">
    <input type="submit" name="addItemFour" value="Add to cart">

    <h2>Item 5</h2>
    <label for="numberOfItemFive">Quantity:</label>
    <input type="number" name="numberOfItemFive" value="0" min="0" style="width: 25px;">
    <input type="submit" name="addItemFive" value="Add to cart">

    <h2>Item 6</h2>
    <label for="numberOfItemSix">Quantity:</label>
    <input type="number" name="numberOfItemSix" value="0" min="0" style="width: 25px;">
    <input type="submit" name="addItemSix" value="Add to cart">
  </form>


  </body>
</html>
