<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body {
        font-family: helvetica;
      }

      h1, p {
        text-align: center;
      }

      blockquote {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Error:</h1>
    <p><%= errorMessage %></p>
    <h1>Try again</h1>
    <blockquote>
      <form class="" action="/calculatePostage" method="get">
        Weight (oz): <input type="number" min="0" step="0.1"`` name="oz" value="0"> <br>
        Mail type: <select class="shipmentType" name="shipmentType">
          <option value="letter_stamped">Letter (stamped)</option>
          <option value="letter_metered">Letter (metered)</option>
          <option value="large_envelope">Large Envelope</option>
          <option value="first_class_package">First-Class Package</option>
        </select> <br>
        <input type="submit" name="submit" value="Submit">
      </form>
    </blockquote>
  </body>
</html>
