<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Postal service!</title>
  </head>
  <body>
    <h1>This is the postal service app!</h1>
    <a href="postal.html">Click here to calculate the cost of your package</a>
  </body>
</html>
